@charset 'utf-8';

li {
    list-style: none;
}

.container {
    max-width: 800px;
}

#header {
    position: relative;
    max-width: 800px;
}

#add-question {
    text-align: center;
    position: absolute;
    right: 20px;
}

.btn-question {
    margin: 20px 0px 0 15px;
    float: right;
}

.qLeft {
    width: 70px;
    float: left;
}

#btn-qUp,
#btn-qDown {
    text-align: center;
    margin-bottom: 15px;
}

.vote-count {
    display: block;
}

textarea {
    resize: none;
}